@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

body { 
    background-color: #2A363B;
}

h2 {
    color: #FF847c;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

div {
  background-color: #99B898;
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 2px 2px 4px 0 #20282c;

}

div input {
  height: 20px;
  margin: 0.5rem;
  border: black 1px solid;
  border-radius: 7px;
}

button {
  display: inline-block;
  color: black;
  justify-content: center;
  background-color: #BCBCBC;
  border: 1px solid black;  
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  
  
}
button:hover {
  background-color: #fecea8;
  color: black;
}

p {
    color: #2A363B;
    margin: 10px 10px;
    
}
select{
  border-radius: 7px;
}
.resultado{
  color: #ffff;
  text-align: center;
}

/* Maximo tamano 980px de patanlla y en horizontal */
/* Para moviles */
@media screen and (max-width: 980px), handheld and (orientation: landscape) {
  div {
    /* Con width y heigth en pc hacemos el cuadrado del div */
    width: 320px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #99B898;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0 #20282c;
    
  }
  div input {
    height: 20px;
    margin: 0.5rem;
    border-radius: 7px;
    border: black 1px solid;
  }
  p {
    color: #2A363B;
    margin: 5px 5px; 
  }
  button:hover {
    background-color: #fecea8;
    color: black;
  }

  .elemento_boton {
    margin-top: 20px;
    display: flex; 
    flex-direction: column;
  }
}
